.my-course-list {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.my-course-text {
    margin: 20px 40px;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.down-icon {
    margin: 0px 30px;
    height: 30px;
    width: 30px;
}