.services-wrapper {
    display: flex;
    flex-flow: column;
    text-align: center;
    background-color: rgb(11, 11, 90);
    color: white;
    padding: 20px 100px;
}

.services-wrapper > h1 {
    font-family: 'Press Start 2P', cursive;
    font-weight: lighter;
    font-size: 32px;
    line-height: 1.3;
}

.services-card-wrapper {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: 50px 0px;
}

.services-card {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    border-radius: 50px;
}

.services-card:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.services-img {
    width: 200px;
    height: 200px;
}